@font-face {
    font-family: "Cambria";
    src: url("./../font/Cambria-Font-For-Windows.ttf");
  }
@media screen {
    body{
        font-family: 'Cambria';
    }
    .fa-3x{
        font-size: 3.5em!important;
    }
    .la, .las {
        font-size: 1.1em;
    }
    nav li a{
        font-weight: bold!important;
    }
    .nav-link.active{
        color: #0054A6!important;
    }
    #carouselAutoplaying{
        height: calc(100vh / 1.5);
    }
    #carouselAutoplaying img{
        max-width: 100%;
        height: calc(100vh / 1.5);
        object-fit: cover;
        object-position: top center;
    }
    .carousel-fundo{
        position: absolute;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        top: 0;
        bottom: 0;
    }
    .form-control, .form-select {
        height: calc(1.5em + .75rem + 10px) !important;
    }
    .header-container-wallpaper {
        position: relative;
        height: 200px;
        background-size: cover;
        background-position: center;
    }
    .text-primary{
        color: #0054A6;
    }
    .navbar-brand{
        display: flex;
        align-items: center;
    }
    .preload{
		position: fixed;
		width: 100%;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		align-content: center;
		transition: opacity 0.5s, background-color 0.5s;
	}
	.onload{
		position: relative;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.5s;
		min-height: 100vh;
	}
	.preload.load{
		opacity: 1!important;
		z-index: 999999!important;
		background-color: rgba(255, 255, 255, 0.5)!important;
		pointer-events: auto!important;
	}
	.preload img{
		animation: spin 7s linear infinite;
	}
	@keyframes spin {
        0% {
            transform: scale(1, 1);
        }
        50% {
            transform: scale(1.5, 1.5);
        }
        100% {
            transform: scale(1, 1);
        }
	}
    blockquote {
        border-left: #0054A6 6px solid;
        padding: 8px;
    }
    .navbar .nav-item i{
        font-size: 22px;
    }
    a.nav-link {
        display: flex;
        align-items: center;
    }
    .nav-link-tabs:hover {
        text-align: center;
        text-decoration: none;
        color: #fff !important;
        background: #00134F !important;
    }
    .btn-close:focus{
        outline: none!important;
        box-shadow: none!important;
    }
    .btn-primary {
        background: #0054A6;
        color: #fff;
    }
    .btn-primary:hover {
        background: #023466;
        color: #fff;
    }
    .navbar.top{
        background: #00134F!important;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }
    a{
        text-decoration: none;
    }
    footer{
        background: #222222;
    }
    footer h5, footer a, footer p{
        color: #fff;
    }
    footer hr{
        border-color: #fff;
    }
    footer a, footer p{
        transition: all .3s;
        display: block;
    }
    footer a:hover {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);
    }
    footer a.active{
        text-decoration:line-through;
    }
    .copyColor{
        background: rgba(0, 0, 0, .08);
    }
}
